page-about {
  ion-content {
    &.content-md {
    //   position: absolute;
    //   top: 0px;
    //   height: 100%;
    //   width: 100%;
    //   opacity: 1;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url('https://static.wixstatic.com/media/9dde07_4d5d17ad0de341229376f3ba019e581b~…00_0.01/9dde07_4d5d17ad0de341229376f3ba019e581b~mv2_d_6016_4000_s_4_2.webp');
    }
  }
}
