.header{
  .title{}
  .description{}
}

// main button for the whole app
.rc-button{}
a.rc-link{}





@import url('https://fonts.googleapis.com/css?family=Oxygen:700');


.refugee-our-class {
 font-family: 'Oxygen', sans-serif;

  h1 {
    font: bold 114px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
    font-weight: 900;
    color: #3F4359;
  }
  h2 {
    font: bold 84px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
    color: #3F4359;
  }
  p {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CABAD2;
  }
  .main {
    margin: 10px;
    text-align: center;
  }
}
