.header{
  .title{}
  .description{}
}

// main button for the whole app
.rc-button{}
a.rc-link{}

@import url('https://fonts.googleapis.com/css?family=Oxygen:700');

.refugee-our-class {
 font-family: 'Oxygen', sans-serif;
 font-size: 16px;

  h1, h2, h3, h4, h5, h6 {
    color: #3F4359;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    color: #CABAD2;
    line-height: 2rem;
  }

  .main {
    margin: 10px;
    text-align: left;
  }
}
